body {
  background: rgb(26, 28, 36);
  color: rgb(215, 212, 212);
  font-family: Sans-serif;
  font-size: 12px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#gameBoard{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
}


/* #palette{
  /* display: flex; */
  /* flex-basis: 50%; */
  height: 100px;
  width: 100px;
} */

.break{
  flex-basis: 100%;
  width: 0;
}



#field{
  position: absolute;
}



#settings {
  background: rgb(43, 46, 59);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: solid rgb(23, 22, 22);
  font-size: 1;
}

#timing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: solid rgb(109, 110, 111);
}

#keyBinds {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border: solid rgb(109, 110, 111);
}

.setting {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}